<h1>Shoutr Dashboard</h1>

<%= form_for @shout do |f| %>
    <%= f.text_field :body, placeholder: "Shout Here!", required: true %>
        <%= f.submit "Shout"%>
<% end %>

<% @shouts.each do |shout| %>
<div> 
<%= shout.body %>
</div>  
<% end %>

